{% extends "layout.html" %}
{% block maintext %}
<h1>ИСАД версия 0.03</h1>
<p>Интерактивная система анализа данных (ИСАД) предназначен для предоставления открытого доступа к 
результатам научных исследований окружающей среды на Западном побережье Тихого океана.</p>
<p> Из основных возможностей ИСАДа следует отметить:

<ul>
    <li>Обработку запросов на добавление, выборку, удаление и оработку данных измерений</li>
    <li>Предоставление информации о публикационной активности авторов-участников проекта ИСАД</li>
    <li>...</li>
</ul>

{% endblock %}
