{% extends "layout.html" %}
{% block maintext %}
<h2>Добавление новостей</h2>
  <form action="" method="post" name="news">
    {{form.hidden_tag()}}
    <fieldset>
    <legend>Добавление новостей</legend>    
    <label>Заголовок</label>
    {{form.title(size=180)}}
    {% for error in form.errors.title %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    <label>Категория</label>
    {{form.category(size=180)}}</p>
    {% for error in form.errors.category %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    <label>Текст</label>
    {{form.text()}}<br/>
    {% for error in form.errors.text %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    <button type="submit" class="btn">Добавить</button>
    </fieldset>
  </form>
{% endblock %}
{% block newstext %}
{% endblock %}