<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>2ИСАД - Интерактивная система анализа аданных.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ url_for('static',filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">ИСАД</a>
          <div class="nav-collapse collapse">
	    <p class="navbar-text pull-right">
		Current user: {{current_user.login}}, 
	    {% if not current_user.is_authenticated() %}
		<a href="{{url_for('login')}}" class="navbar-link">Вход</a>
	    {% else %}
		<a href="{{url_for('logout')}}" class="navbar-link">Выход</a>
	    {% endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="{{url_for('index')}}">Главная</a></li>
              <li><a href="{{ url_for('about') }}">О проекте</a></li>
              <li><a href="#contact">Контакты</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Главное меню:</li>
              <li><a href="{{url_for('index')}}">Главная</a></li>
	      {% if current_user.is_authenticated() %}
              <li><a href="{{url_for('upload_file')}}">Загрузка файла</a></li>
              <li><a href="{{url_for('select_data')}}">Выборка данных</a></li>
	      <li><a href="{{url_for('add_news')}}">Добавление новостей</a></li>
	      <li><a href="{{url_for('show_meteo')}}">Метео-логгер</a></li>
	      {% endif %}
              <li class="nav-header">Экспедиции</li>
	      <li><a href="{{url_for('expeditions', year=2006)}}">Год 2006</a></li>
	      <li><a href="{{url_for('expeditions', year=2007)}}">Год 2007</a></li>
	      <li><a href="{{url_for('expeditions', year=2008)}}">Год 2008</a></li>
	      <li><a href="{{url_for('expeditions', year=2009)}}">Год 2009</a></li>
	      <li></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
	    {% with messages=get_flashed_messages() %}
		{% if messages %}
		    {% for message in messages %}
			<div class="alert">
			    <span class="close" data-dimiss="alert">&times;</span>
			    <p>{{message}}</p>
			</div>
		    {% endfor %}
		{% endif %}
	    {% endwith %}
	    {% block maintext %}
            <h1>ИСАД версия 0.15</h1>
            <p>Интерактивная система анализа данных (ИСАД) предназначен для предоставления открытого доступа к результатам нацчных исследований окружающей среды на Западном побережье Тихого океана.</p>
            <p><a class="btn btn-primary btn-large" href="{{url_for('about')}}">Узнать больше &raquo;</a></p>
	    {% endblock %}
          </div>

	  {% block newstext %}
          <div class="row-fluid">   
            {% for item in recent_news %}            
            <div class="span4">
              <h2>{{item.date | date}}, {{item.title}}</h2>
              <h3>{{item.category}}</h3>
              <p> {{item.text}} </p>
              <h5>Author: {{item.author.login}}</h5>
              <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
            </div><!--/span-->
            {% endfor %}
          </div><!--/row-->
	  {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; ИАПУ &amp ТОИ &amp МГУ 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js')}}"></script>    	

  </body>
</html>
