{% extends "layout.html" %}
{% block maintext %}
<h2>Login</h2>
  <form action="" method="post" name="login">
    {{form.hidden_tag()}}

      <p>Please enter your login:<br>
	{{form.login(size=40)}}<br>
        {% for error in form.errors.login %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
      </p>
      <p>Password:<br>
	{{form.passwd(size=40)}}<br>
        {% for error in form.errors.passwd %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
      </p>

      <p>{{form.remember_me}} Remember Me</p>

      <p><input type="submit" value="Sign In"></p>

  </form>
{% endblock %}
{% block newstext %}
{% endblock %}