{% extends "layout.html" %}
{% block maintext %}
<form action="" method="POST">
    <fieldset>
	<legend>Выборка метеорологических параметров</legend>
	<label>Параметр</label>
	<select name='param'>
		<option>PRES</option>
		<option>TEMP</option>
		<option>RELH</option>
		<option>MIXR</option>
		<option>SKNT</option>
		<option>DRCT</option>
		<option>THTA</option>
		<option>THTV</option>
		<option>THTE</option>
	</select>
	<label>Выберите период</label>
	Начало:<input type='date' name='startt'/> Конец:<input type='date' name='stopt'/>
	<button type="submit" class="btn">Построить</button>
    </fieldset>
</form>
{% endblock %}
{% block newstext %}
{% endblock %}