{% extends "layout.html" %}
{% block maintext %}
<form action="" method="POST" enctype='multipart/form-data'>
    <fieldset>
	<legend>Загрузка файлов</legend>
	<label></label>
	<input type="file" size=40 name="datafile"/>
	<span class='help-block'>Выберите файл со спутниковыми данными общего содержания озона</span>
	<button type="submit" class="btn">Загрузить</button>
    </fieldset>
</form>
{% endblock %}
{% block newstext %}
{% endblock %}